* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  cursor: default;
  background-color: aquamarine;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2 {
  margin: 0;
}

.container {
  background-color: white;
  border-radius: 8%;
  width: 24rem;
  height: 33rem;

  display: flex;
  flex-direction: column;
}

.title {
  padding: 5px;
  flex-basis: 10%;
  text-align: center;
}

.input-box {
  border-bottom: 1px solid black;
  padding: 15px;

  display: flex;
  justify-content: space-between;
  flex-basis: 10%;
}

.todo-box {
  border-bottom: 1px solid black;
  padding: 15px;

  flex-basis: 40%;
}

.done-box {
  padding: 15px;

  flex-basis: 40%;
}
