@import "reset.css";

body{
    background-color : cornflowerblue;
    width:100vw;
    height:100vh;
    display : flex;
    align-items: center;
    justify-content: center;
}

.container{
    display:flex;
    flex-direction: column;
}

.title{
    padding : 20px;
}

.title h1{
    font-size : 2em;
    user-select : none;
}

.todo_input{
    width:300px;
    height:50px;
    background-color: rgba( 255, 255, 255, 0.8);
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}

.todo_input input{
    width : 80%;
    padding:5px;
}

.todo_input p{
    line-height: 25px;
    font-size:20px;
    cursor:pointer;
}

.wrap_content{
    display:flex;
    flex-direction: column;
    width:300px;
    height:500px;
    background-color: rgba( 255, 255, 255, 0.8);
    border-radius: 10px;
}
.todo{
    flex:1;
    overflow : auto;
    padding:10px;
}

.wrap_content .sub_title{
    user-select: none;
    font-size:25px;
}

ul li {
    display:flex;
    line-height: 25px;
    cursor : pointer;
    padding:10px;
}
ul li span{
    flex:1;
}
ul li:hover button {
    opacity: 1;
}

ul li button {
    background-color:transparent;
    border : none;
    opacity: 0;
    transition: opacity 0.5s ease;
}
hr.line{
    border: 0;
    padding: 0;
    margin: 10px;
    border-bottom: 2px dashed #4d3d3d;
    background: #999;
}
.done{
    flex:1;
    overflow:auto;
    padding:10px;
}