.container {
  width: 20rem;
  height: 30rem;
  padding: 1.5rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px rgb(125 123 125);

  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 10px;
  font-size: 2rem;
}

.todo-input {
  width: calc(100% - 20px);
  height: 2rem;
  margin: 10px;
  display: flex;
}

#input-form {
  position: relative;
}

.input-bg {
  position: absolute;
  width: 17rem;
  height: 2rem;
  background-color: lightgray;
  border-radius: 1rem;
}

#input-text {
  position: absolute;
  width: 15rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  padding: 0 15px;

  font-family: 'Pretendard-Regular';
}

#input-text:focus {
  outline: none;
}

.add-button {
  margin: auto 0 auto auto;
  font-size: 1.5rem;
  cursor: pointer;
}

.todo-lists {
  height: 33%;
  display: flex;
  flex-direction: column;
}

.done-lists {
  height: 34%;
  display: flex;
  flex-direction: column;
}

.list-container {
  padding: 10px;
  overflow: auto;
}

.list-container span:hover {
  cursor: pointer;
  text-shadow: 0px 0px 20px rgb(235, 235, 235);
  transition: 0.3s;
}

.list-container button {
  margin: 0 0 0 1rem;
  background-color: transparent;
  border: none;
}

.list-container button:hover {
  cursor: pointer;
  border-radius: 1rem;
  background-color: rgb(235, 235, 235);
  transition: 0.3s;
}

hr {
  margin: 15px 0;
}
